html {
    font-size: 16px;
}

body {
    background-color: hsl(223, 74%, 12%);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    height: 100%;
    width: 80px;
    top: 0px;
    left: 0px;
    background-color: #181818;
    z-index: 5;
}

.sun-n-cloud {
    position: absolute;
    left: 10px;
    top: 10px;
}

.cloud {
    position: absolute;
    width:60px;
    height:20px;
    background:#ECEFF1;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    border-radius:15px;
    top: 50px;
    z-index: 2;
}

.cloud::after, .cloud::before{
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}
.cloud::after{
    width: 15px;
    height: 15px;
    top: -15px;
    left: 8px;
}
.cloud::before{
    width: 25px;
    height: 25px;
    top: -9px;
    left: 12px;
}

.sun {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(41, 83%, 58%);
    top: 25px;
    left: 10px;
}

.sunshine {
    position: absolute;
    background-color: hsl(41, 83%, 58%);
    width: 5px;
    height: 15px;
}

.sunshine-1 {
    top: 25px;
    left: -3px;
    transform: rotate(-70deg);
}

.sunshine-2 {
    top: 8px;
    left: 9px;
    transform: rotate(-35deg);
}

.sunshine-3 {
    top: 3px;
    left: 27.5px;
}

.sunshine-4 {
    top: 8px;
    left: 46px;
    transform: rotate(35deg);
}

.sunshine-5 {
    top: 25px;
    left: 58px;
    transform: rotate(70deg);
}

.nav-bar nav {
    display: flex;
    height: 210px;
    margin-top: -120px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.nav {
    position: relative;
    display: block;
}

a.nav{
    color: hsl(240, 2%, 51%);
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

a:hover {
    color: #6ebfb5;
}

.nav-bar ul {
    bottom: 20px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.nav-bar ul li a {
    display: block;
    line-height: 16px;
    padding: 7px 0;
    font-size: 22px;
}

main {
    position: relative;
    padding-left: 8rem;
    color:hsl(240, 7%, 97%)
}

#home {
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: auto;
    grid-template-columns: 3fr 2fr;
    column-gap: 5rem;
}


.home-container {
    display: block;
    padding-right: 1rem;
}

h1 {
    font-size: 6rem;
}

.home-container h2 {
    font-size: 4rem;
}

.first-name {
    padding-left: 5rem;
}

.last-name{
    padding-left: 10rem;
}

p {
    text-align: center;
}

#sun {
    height: 30rem;
    width: auto;
}